<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="planit">

	<listeners>
		<listener class-name="com.planit.utilities.Reporting" />
	</listeners>


	<test name="planit Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.planit.testCases.OrderProduct" />
		</classes>

	</test>

</suite>